body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 0;
  color: #294677;
  font-weight: bold;
  background-color: #172b4d;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #294677;
  border: 1px solid #172b4d;
  float: right;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
  color: #172b4d;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
}

.game-info {
  margin-left: 20px;
}

.game .game-board {
  width: 50%;

  text-align: center;
}

button {
  background-color: #f0f8ff00;
  border: 1px solid #294677;
  color: #294677;
}
